﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Branches manager</h1>
    <p>With <a asp-controller="Branches" asp-action="Index">UI</a></p>
    <p>With <a asp-controller="api_Branches" asp-action="GetBranch">API</a></p>
</div>
